<% include ./partials/header.ejs %>
    
    <a href = "/events"><i class="fas fa-arrow-left"></i></a>
    <h1><%= event.title %></h1>

   <div id ='results'>
       
      
       
       <% event.subjects.forEach(function(subject){ %>
          
        <%  let subjectName = subject.name.replace(/\s/g, ''); %> <!-- Had to remove white space beause of css class issues -->
         <div class = 'subjects <%= subjectName %>'><h3><%= subject.name %></h3>
          <% for(let i=0;(subject.tasks != undefined) && (i<subject.tasks.length); i++){ %>
             
              
              <div class ='list-items'><%= subject.tasks[i].value %></div>
           <% } %>
            </div>
         <% }); %>
    </div>
    
    <form action = "/events/<%= event._id %>?_method=DELETE" method = "POST">
      <button id = "delete">Delete</button>
    </form>
    
       

<% include ./partials/footer.ejs %>